/* dir (direction) must be specified for different language writing style (left to right and vice-versa)*/
html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn{
    margin-right: 2px;
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn{
    margin-left: 2px;
}

.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
}

.myAppDemoWT .dialogButton{
    margin-right: 20px;
}

/*  ProductRating */
.myAppDemoWTProductRating {
	padding: 0.75rem;
}
.myAppDemoWTProductRating .sapMRI {
	vertical-align: initial;
}